In [195]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import copy

In [196]:
basa = pd.read_csv('BASA_AUC_2028_912.csv')
basa["df"] = basa.apply (lambda x: "basa", axis=1)
basa.columns

Index(['X', 'Airfield', 'S2', 'Wait_Time', 'C_Start', 'C0', 'C_avg',
       'Sch_Departure', 'Act_Departure', 'BFO_Dest_City',
       'BFO_Destination_Country_Code', 'order', 'Pass_ID', 'Departure_Date',
       'Departure_Time', 'Time_of_Day', 'Period_of_Week', 'Day_of_Week',
       'Month', 'Season', 'Year', 'df'],
      dtype='object')

In [197]:
y2026 = pd.read_csv('years20262030.csv')
y2026 = y2026.drop([ 'Unnamed: 0'], axis=1)
y2026["df"] = y2026.apply (lambda x: "y2026", axis=1)
y2026.columns

Index(['Airfield', 'S2', 'Wait_Time', 'C_Start', 'C0', 'C_avg',
       'Sch_Departure', 'Act_Departure', 'BFO_Dest_City',
       'BFO_Destination_Country_Code', 'order', 'Pass_ID', 'Departure_Date',
       'Departure_Time', 'Time_of_Day', 'Period_of_Week', 'Day_of_Week',
       'Month', 'Season', 'Year', 'df'],
      dtype='object')

In [198]:
dat = pd.read_csv('dat_P_sub_c.csv')
dat["df"] = dat.apply (lambda x: "dat", axis=1)
#dat = dat.drop([ 'Unnamed: 0'], axis=1)
dat.columns

Index(['Pass_ID', 'valid_P_ID', 'Airfield', 'S2', 'Wait_Time', 'C_Start', 'C0',
       'C_avg', 'Sch_Departure', 'Act_Departure', 'BFO_Dest_City',
       'BFO_Destination_Country_Code', 'order', 'Departure_Date',
       'Time_of_Day', 'Period_of_Week', 'Day_of_Week', 'Month', 'Season',
       'Year', 'WT_flag', 'S2_Sch_Flag', 'S2_Act_Flag', 'Sch_Act_Flag',
       'Flight_ID', 'Delay_in_Seconds', 'df'],
      dtype='object')

In [199]:
y2026["Sch_Departure"] = y2026.apply (lambda x: pd.Timestamp(x["Sch_Departure"]), axis=1)
y2026["Act_Departure"] = y2026.apply (lambda x: pd.Timestamp(x["Act_Departure"]), axis=1)
y2026["S2"] = y2026.apply (lambda x: pd.Timestamp(x["S2"]), axis=1)

y2026["S2_Sch_Flag"]= np.where(y2026['S2'] <= y2026['Sch_Departure'] , 0, 1)
y2026["S2_Act_Flag"]= np.where(y2026['S2'] <= y2026['Act_Departure'] , 0, 1)
y2026["Sch_Act_Flag"]= np.where(y2026['Sch_Departure'] <= y2026['Act_Departure'] , 0, 1)
y2026["WT_flag"]= np.where(y2026['Wait_Time'].isna()  , 0, 1)
y2026["Delay_in_Seconds"]= y2026.apply (lambda x: (x['Sch_Departure']-x['Act_Departure']).total_seconds(), axis=1)

y2026.head(1)

,Airfield,S2,Wait_Time,C_Start,C0,C_avg,Sch_Departure,Act_Departure,BFO_Dest_City,BFO_Destination_Country_Code,...,Day_of_Week,Month,Season,Year,df,S2_Sch_Flag,S2_Act_Flag,Sch_Act_Flag,WT_flag,Delay_in_Seconds
0,QUE,2027-01-01 06:29:00,NaN,NaN,5.0,NaN,2026-12-23 19:53:00,2026-12-23 20:05:00,BOR030,BOR,...,3 - WED,12-Dec,4 - AUTUMN,2026,y2026,1,1,0,0,-720.0

In [200]:
basa["Sch_Departure"] = basa.apply (lambda x: pd.Timestamp(x["Sch_Departure"]), axis=1)
basa["Act_Departure"] = basa.apply (lambda x: pd.Timestamp(x["Act_Departure"]), axis=1)
basa["S2"] = basa.apply (lambda x: pd.Timestamp(x["S2"]), axis=1)

basa["S2_Sch_Flag"]= np.where(basa['S2'] <= basa['Sch_Departure'] , 0, 1)
basa["S2_Act_Flag"]= np.where(basa['S2'] <= basa['Act_Departure'] , 0, 1)
basa["Sch_Act_Flag"]= np.where(basa['Sch_Departure'] <= basa['Act_Departure'] , 0, 1)
basa["WT_flag"]= np.where(basa['Wait_Time'].isna()  , 0, 1)
basa["Delay_in_Seconds"]= basa.apply (lambda x: (x['Sch_Departure']-x['Act_Departure']).total_seconds(), axis=1)

basa.head(1)

,X,Airfield,S2,Wait_Time,C_Start,C0,C_avg,Sch_Departure,Act_Departure,BFO_Dest_City,...,Day_of_Week,Month,Season,Year,df,S2_Sch_Flag,S2_Act_Flag,Sch_Act_Flag,WT_flag,Delay_in_Seconds
0,1057198,AUC,2028-08-31 18:57:00,14.0,2.0,2.0,2.0,2028-08-31 20:16:00,2028-08-31 20:16:00,VES064,...,4 - THU,08 - AUG,3 - SUMMER,2028,basa,0,0,0,1,0.0

In [201]:
dat["Sch_Departure"] = dat.apply (lambda x: pd.Timestamp(x["Sch_Departure"]), axis=1)
dat["Act_Departure"] = dat.apply (lambda x: pd.Timestamp(x["Act_Departure"]), axis=1)
dat["S2"] = dat.apply (lambda x: pd.Timestamp(x["S2"]), axis=1)

In [159]:
#df_clean = copy.deepcopy(basa)

In [202]:
dat['Flight_ID'] = dat['Flight_ID'].astype(int)
df_clean = pd.concat([basa, y2026, dat])

del df_clean['df']
df_clean['Duplicated'] = df_clean.duplicated(keep=False) # keep=False marks the duplicated row with a True
#df_final = df_clean[~df_clean['Duplicated']] # selects only rows which are not duplicated.

In [203]:
del df_clean['Duplicated']

In [204]:
df_f = pd.read_csv('dat_F_sub.csv')

In [205]:
merged = df_clean.merge(df_f, on='Flight_ID', how='left')
merged = merged.drop(['Month_y', 'Season_y','Year_y','Time_of_Day_y','Day_of_Week_y','Period_of_Week_y','Airfield_y', 'Unnamed: 0', 'Delay_in_Seconds_y'], axis=1)

In [206]:
df_clean.columns

Index(['X', 'Airfield', 'S2', 'Wait_Time', 'C_Start', 'C0', 'C_avg',
       'Sch_Departure', 'Act_Departure', 'BFO_Dest_City',
       'BFO_Destination_Country_Code', 'order', 'Pass_ID', 'Departure_Date',
       'Departure_Time', 'Time_of_Day', 'Period_of_Week', 'Day_of_Week',
       'Month', 'Season', 'Year', 'S2_Sch_Flag', 'S2_Act_Flag', 'Sch_Act_Flag',
       'WT_flag', 'Delay_in_Seconds', 'valid_P_ID', 'Flight_ID'],
      dtype='object')

In [207]:
merged.columns = merged.columns.str.rstrip('_x')
merged.columns

Index(['X', 'Airfield', 'S2', 'Wait_Time', 'C_Start', 'C0', 'C_avg',
       'Sch_Departure', 'Act_Departure', 'BFO_Dest_City',
       'BFO_Destination_Country_Code', 'order', 'Pass_ID', 'Departure_Date',
       'Departure_Time', 'Time_of_Day', 'Period_of_Week', 'Day_of_Week',
       'Month', 'Season', 'Year', 'S2_Sch_Flag', 'S2_Act_Flag', 'Sch_Act_Flag',
       'WT_flag', 'Delay_in_Seconds', 'valid_P_ID', 'Flight_ID',
       'Sch_Departure_y', 'Act_Departure_y', 'tot_pass', 'N', 'min', 'mean',
       'median', 'ma', 'mean_WTL', 'mean_City_Flag', 'mode_BFO_Dest_City',
       'sum_city_mode', 'N_of_Dest_City', 'mode_BFO_Dest_Country_Code',
       'sum_country_mode', 'N_of_Dest_Country'],
      dtype='object')

In [194]:
from google.colab import files
merged.to_csv('all_data_merged.csv', encoding = 'utf-8-sig')
files.download('all_data_merged.csv')